<!-- Starts up everything needed to run the example listener/talker Python nodes. -->

<launch>
  <node pkg="probabilistic_collision_checker" type="probabilistic_collision_checker.py" name="probabilistic_collision_checker">
    <param name="rate" value="5"/>
  </node>
  <node pkg="probabilistic_collision_checker" type="pose_update_scaler.py" name="pose_update_scaler">
    <param name="rate" value="5"/>
  </node>

</launch>
